{% extends 'layout.html' %}

{% block content %}
    <h1>Community on your side</h1>
    <br/>
<h2>Powered by the Nationalwide Catastrophe Response Team</h2> 
 <ul>
    <li> Nationwide is here at X for the community and helping each other.
    <li> Current fires <a href=https://www.google.com/maps/d/viewer?mid=1HacmM5E2ueL-FT2c6QMVzoAmE5M19GAf>map</a>
    <li> Local Fire, Police, Sheriff <a href=https://data.smcgov.org/Government/Fire-Police-and-Sheriff-Locatios-Map/6y3p-sj3j>map</a>
    <li> Nationwide <a href=https://agency.nationwide.com/sonoma-ca?q=Sonoma%2C%20CA>local agents</a> 1-800-555-1212
</ul>
    <h1>Comunidad a tu lado</h1>
    <ul>
    <li> Nationwide está aquí para la comunidad y se ayudan unos a otros.
    <li> incendios actuales <a href=https://www.google.com/maps/d/viewer?mid=1HacmM5E2ueL-FT2c6QMVzoAmE5M19GAf>map</a>
    <li> fuego, policía, sheriff <a href=https://data.smcgov.org/Government/Fire-Police-and-Sheriff-Locatios-Map/6y3p-sj3j>map</a>
    <li> Nationwide <a href=https://agency.nationwide.com/sonoma-ca?q=Sonoma%2C%20CA>agente</a> 1-800-555-1212
    </ul>
    
{% endblock %}
