{% extends 'layout.html' %}

{% block content %}
    <h1>Community on your side</h1>
 <p>
    <li> Nationwide is here at X for the community and helping each other.
    <li> Current fires <a href=https://www.google.com/maps/d/viewer?mid=1HacmM5E2ueL-FT2c6QMVzoAmE5M19GAf>map</a>
    <li> Local Fire, Police, Sheriff <a href=https://data.smcgov.org/Government/Fire-Police-and-Sheriff-Locatios-Map/6y3p-sj3j>map</a>
    <li> Nationwide <a href=https://agency.nationwide.com/sonoma-ca?q=Sonoma%2C%20CA>local agents</a> 1-800-555-1212
</p>
    <p>Twilio.org Rapid Response Kit
        Welcome to Twilio.org Rapid Response Kit, powered by Twilio.org.
        Use the tools on the left, set up what you need in the case of an
        emergency or for everyday use of your organization.
        The power is now yours! Use it wisely (for good, of course).
    </p>
    <h1>Espanol...</h1>->
{% endblock %}
